.navbar {
    margin: 0;
}


/* index.php */

.header-home {
    margin-top: 80px;
    padding: 20px;
    background-color: aquamarine;
}

.header-home2 {
    margin-top: 80px;
    padding: 20px;
    background-color: yellow;
}

.image-home {
    background-color: red;
    height: 500px;
}

.image-like {
    padding: 10px;
    background-color: green;
}

.image-commentaire {
    height: 150px;
    background-color: aqua;
}

h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
}


/* profil_user.php */

.testimage{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    justify-content: center;
}

.profil-user {
    height: 250px;
    padding: 10px;
    text-align: center;
}

.image-user {
    height: 100%;
    background-color: yellow;
}

.profil-user-margin{
    margin-top: 100px;
}

.nom-user{
    font-size: 16px;
}

.text-user{
    font-size: 30px;
    padding: 10px;
    font-family: 'Arimo', sans-serif;
}

.famasito{
    color: red;
}

/* connexion.php */

#couleur {
    margin: 0;
    padding: 0;
    background: url('https://insta-theme.store/app/uploads/2018/03/filtre-instagram-insta-theme-store-1024x614.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

#couleur:after {
    content: "";
    display: block;
    position: fixed;
    /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Lobster', cursive;
}

h4 {
    margin-top: 20px;
    color: black;
    font-family: 'Lobster', cursive;
}

.connexion-user {
    margin-top: 105px;
    bottom: 0;
    font-size: 30px;
}

.marg {
    margin-top: 20px;
}

.formulaire-connexion {
    padding: 40px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    z-index: 20;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* inscritption.php */

.alert {
    font-size: 20px;
}

