.navbar {
    margin: 0;
    border-bottom: 1px solid #A7A7A7;
}


/* index.php */

.header-home {
    margin-top: 80px;
    padding: 10px;
    color: white;
    background: linear-gradient(70deg, #26051D, #40A497);
}

.image-home {
    background-color: #F2F2F2;
    border-bottom: 1px solid #A7A7A7;
    padding: 5px;
    text-align: center;
}

.image-like {
    padding: 10px;
    background-color: #F2F2F2;
}

.image-commentaire {
    height: 150px;
    background: linear-gradient(#F2F2F2, white);
}

h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
}


/* profil_user.php */

.testimage {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    justify-content: center;
}

.profil-user {
    text-align: center;
}

.profil-edit {
    background: linear-gradient(70deg, #26051D, #40A497);
    margin-bottom: 10px;
    border-radius: 2px;
    color: white;
}

.modal-title {
    color: black;
}

.image-user {
    height: 100%;
    background: linear-gradient(#F2F2F2, white);
    padding-top: 10px;
    border-radius: 2px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.profil-user-margin {
    margin-top: 80px;
}

.nom-user-index {
    font-size: 25px;
}

.text-user {
    font-size: 30px;
    padding: 10px;
    font-family: 'Arimo', sans-serif;
}

.text-user2 {
    margin-top: 80px;
}

.famasito {
    color: red;
}

.image-profil {
    margin: 2px;
}

l {
    color: red;
    text-align: center;
}


/* connexion.php */

#couleur {
    margin: 0;
    padding: 0;
    background: url('https://insta-theme.store/app/uploads/2018/03/filtre-instagram-insta-theme-store-1024x614.jpg');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

#couleur:after {
    content: "";
    display: block;
    position: fixed;
    /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Lobster', cursive;
}

h4 {
    margin-top: 20px;
    color: black;
    font-family: 'Lobster', cursive;
}

.connexion-user {
    margin-top: 105px;
    bottom: 0;
    font-size: 30px;
}

#explique {
    background: linear-gradient(40deg, #26051D, #40A497);
}

#explique2 {
    background: linear-gradient(40deg, #26051D, #40A497);
}

.marg {
    margin-top: 20px;
}

.formulaire-connexion {
    padding: 40px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    z-index: 20;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* inscritption.php */

.alert {
    font-size: 20px;
}